add_dracutmodules+=" lvm btrfs crypt crypt-gpg dm rootfs-block "
filesystems+=" btrfs "
early_microcode="yes"
show_modules="yes"
hostonly="yes"
uefi="yes"

#install_items+=" /etc/keys/system.gpg "

kernel_cmdline="rd.luks.uuid={{ parts.luks.uuid }}
                rd.luks rd.lvm rd.lvm.vg=system rd.lvm.lv=system/linux
                root=UUID={{ parts.root.uuid }} rootfstype=btrfs
                rootflags=subvol=/@{{ distro }} rd.luks.allow-discards"

#uefi_secureboot_cert=""
#uefi_secureboot_key=""
