GRUB_DISTRIBUTOR="{{ ansible_distribution }}"
GRUB_DISABLE_OS_PROBER={{ grub.disable_os_prober | default("false") }}
GRUB_TIMEOUT={{ grub.timeout | default(5) }}

GRUB_CMDLINE_LINUX="{{ grub_cmdline | join(' ') }}"
GRUB_CMDLINE_LINUX_DEFAULT=""
